<div class="col-left sidebar col-xs-12 col-sm-3">
  <div class="block block-side-nav">
    <div class="block-title">
      <strong>
        <span><%= t("task") %></span>
      </strong>
    </div>
    <div class="block-content">
      <ul class="sf-menu-phone2">
        <li class="level0 nav-2 level-top parent">
          <a href="#" class="level-top"><span><%= t("category") %></span></a>
          <ul class="level0">
            <li class="level1 nav-2-1 first">
              <a href="#"><span><%= t ".add_cate" %></span></a>
            </li>
            <li class="level1 nav-2-2 parent">
              <a href="#"><span><%= t ".list_cate" %></span></a>
            </li>
          </ul>
        </li>
        <li class="level0 nav-2 level-top parent">
          <a href="#" class="level-top"><span><%= t ".books" %></span></a>
          <ul class="level0">
            <li>
              <a href="#"><span><%= t ".add_books" %></span></a>
            </li>
            <li>
              <a href="#"><span><%= t ".list_books" %></span></a>
            </li>
            <li>
              <a href="#"><span><%= t ".view_request" %></span></a>
            </li>
          </ul>
        </li>
        <li class="level0 nav-3 level-top">
          <a href="#" class="level-top"><span><%= t ".business" %></span></a>
        </li>
        <li class="level0 nav-4 level-top">
          <a href="#"><span><%= t ".children's" %></span></a>
        </li>
        <li class="level0 nav-5 last level-top">
          <a href="#" class="level-top"><span>
            <%= t("used") %> &amp; <%= t ".out_of_print" %></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
